@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap');

.App {
  color: white;
}


h1 {
  font-size: 100%;
  object-fit: contain;
}

h2 {
  font-size: 100%;
  object-fit: contain;
}

h3 {
  text-align: center;
}

.line{
  border-bottom: 1px solid white;
  display: block;
}

.Header-background {
  width: 70%;
  height: 100%;
  opacity: 20%;
  object-fit: fill;
  position: absolute;
}

.Matrixproj-gif{
  width: auto;
  height: 35%;
  margin: 0%;
  position: fixed;
}

.App-logo {
  height: 10vmin;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  size: 15%;
  pointer-events: none;
  position: fixed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  text-align: center;
  top: 0;
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
